API_PORT_WEBHOOK=8081

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=events.pending
KAFKA_CONSUMER_GROUP=webhook-dispatcher

MONGO_URI=mongodb://admin:password@localhost:27017/?authSource=admin
MONGO_DATABASE=webhook-dispatcher

SCHEDULER_DB_PULL_RATE=5s
SCHEDULER_DB_BATCH_SIZE=1000

DISPATCHER_WORKERS=100
DISPATCHER_BUFFER_SIZE=1000
DISPATCHER_RETENTION_WINDOW=72h

DISPATCHER_CB_MAX_REQUESTS=1
DISPATCHER_CB_INTERVAL=60s
DISPATCHER_CB_TIMEOUT=60s
DISPATCHER_CB_FAILURES_BEFORE_OPEN=5

DISPATCHER_LIMITER_REFILL_RATE=2
DISPATCHER_LIMITER_BUCKET_SIZE=20

DISPATCHER_BACKOFF_BASE=30s
DISPATCHER_BACKOFF_MAX_DELAY=6h
DISPATCHER_BACKOFF_MULTIPLIER=2

DISPATCHER_HTTP_TIMEOUT=30s
